body {
  background-color: aqua;
}

.contact {
  text-align: justify;
  color: azure;
}

.language {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: antiquewhite;
  text-align: justify;
}